.pagination {
  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 100dvw;
  overflow-x: auto;

  list-style: none;
  padding-top: 8px;
  border-top: 1px solid var(--raisin-black-100);
}

.pageItem {
  padding: 8px;
}

.pageItem a {
  text-decoration: none;
}