.sortByLabel {
  font-size: 20px;
  font-weight: 600;
  color: var(--tropical-indigo-500);
}

.sortByOptions {
  display: flex;
  gap: 16px;
  list-style: none;
}

.sortByOption {
  display: flex;
  align-items: center;
}

@media (min-width: 1024px) {
  .sortByLabel {
    margin-bottom: 16px;
  }
  
  .sortByOptions {
    flex-direction: column;
  }
}