:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* COLORS */
  --tropical-indigo-500: #a896fa;
  --tropical-indigo-400: #bcaefb;
  --tropical-indigo-300: #d0c7fc;
  --tropical-indigo-200: #efecfe;
  --tropical-indigo-100: #f7fafc;

  --raisin-black-500: #18171e;
  --raisin-black-400: #2b2a36;
  --raisin-black-300: #494757;
  --raisin-black-200: #cbc9d5;
  --raisin-black-100: #eeedf1;

  background-color: var(--tropical-indigo-100);
  color: var(--raisin-black-500);
}

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}