.sortByLabel {
  font-size: 20px;
  font-weight: 600;
  color: var(--tropical-indigo-500);
}

.sortByOptions {
  display: flex;
  gap: 16px;
  list-style: none;
}

.sortByOption {
  display: flex;
  align-items: center;

  button {
    padding: 8px 16px;
    background-color: var(--tropical-indigo-100);
    border: none;
    border-radius: 999px;

    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.05);

    font-size: 16px;
    font-weight: 500;
    
    cursor: pointer;

    width: 100%;
  }

  &.active {
    button {
      background-color: var(--raisin-black-500);
      color: white;
    }
  }
}

@media (min-width: 1024px) {
  .sortByLabel {
    margin-bottom: 16px;
  }

  .sortByOptions {
    flex-direction: column;
  }
}